body{

    position: relative
}

#map{
    positon: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    border-style: solid;
    border-width: 1px;
    margin: auto;
}

span{
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
}

span.snake{
    background-color:blue;
}

span.blank{
    background-color:red;
}
