*{
    margin: 0;
    padding: 0;
}
body{
    position: relative;
}

container{
    position: absolute;
    text-align: center;
    top:0; left:0; right:0; bottom:0;
    width: 130px;
    height: 450px;
    margin: 50px auto;
    padding: 20px 10px;
    border: 1px solid;
    border-radius: 5px;
    background-color: bisque;
}

h{
    line-height: 50px;
    border-bottom: 1px solid;
    text-align: left;
}

p{
    line-height: 40px;
}

a{
    text-decoration: none;
}
