*{
    padding: 0;
    margin: 0;
}

body{
    position: relative;
}

container{
    position: absolute;
    margin: auto;
    width: 200px;
    height: 100px;
    padding: 10px 10px;
    background-color: black;
    left:0;right: 0;top: 0;bottom: 0;
}